<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css"
          integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/assets/css/registration.css" th:href="@{/assets/css/registration.css}"/>
</head>

<body class="bg-light">
<div class="container-fluid">
    <div class="py-5 text-center">
        <div class="mt-5">
            <h2><a th:text="Edit"></a></h2>
        </div>
    </div>
    <form >
        <div class="text-center">
            <div class="row">

                <div class="col-md-2 ">
                    <label>First name</label>
                    <input type="text" class="form-control" name="first_name" placeholder=""
                           th:value="user.first_name" required>
                </div>

                <div class="col-md-2">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="last_name" placeholder=""
                           th:value="user.last_name" required>
                </div>

                <div class="col-md-2">
                    <label>Birthday</label>
                    <input type="text" class="form-control" name="birthday" placeholder=""
                           th:value="user.birthday" required>
                </div>


                <div class="col-md-2 mb-2">
                    <label>Password</label>
                    <input type="text" class="form-control" name="password" placeholder=""
                           th:value="user.password" required>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Email</label>
                <input type="text" class="form-control" name="email" placeholder="" th:value="user.email">
            </div>

            <div class="col-md-3">
                <label>Phone number</label>
                <input type="text" class="form-control" name="phone_number" placeholder=""
                       th:value="user.phone_number">
            </div>

            <div class="col-md-2">
                <label>Country</label>
                <input type="text" class="form-control" name="country" placeholder="" th:value="user.country"
                       required>
            </div>

            <div class="col-md-2">
                <label>City</label>
                <input type="text" class="form-control" name="city" placeholder="" th:value="user.city"
                       required>
            </div>

            <div class="col-md-2 mb-3">
                <label>Street</label>
                <input type="text" class="form-control" name="street" placeholder="" th:value="user.street"
                       required>
            </div>
        </div>

        <div class="
        mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
        </div>

    </form>
</div>
</body>
</html>
