<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG"
          crossorigin="anonymous">
</head>

<body class="bg-light">
<div class="py-5 text-center">
    <div class="mt-5">

        <h2>Hi, !</h2>
    </div>
</div>


<table class="table table-hover">
    <thead>
    <tr>
        <th>First Name</th>
        <th>last Name</th>
        <th>Birthday</th>
        <th>Country</th>
        <th>City</th>
        <th>Street</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light">

    <tr th:each="user : ${users}" align=center>

        <td>
            <input type="text" name="first_name" th:field="${user.cardName}" class="form-control"
                   placeholder="" required>
        </td>

        <td>
            <input type="text" name="last_name" th:field="${user.cardName}" class="form-control"
                   placeholder="" required>
        </td>

    </tr>
    </tbody>

    <tr>
        <th>Username</th>
        <!--            <th>Enter exist password</th>-->
        <!--            <th>Enter new password</th>-->
        <!--            <th>Repeat new password</th>-->
        <th>Email</th>
        <th>Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light">
    <tr th:each="user : ${users}" align=center>
        <td>
            <input type="text" class="form-control" name="username" th:field="${user.cardName}" placeholder="" required>
        </td>
        <td>
            <input type="text" name="email" th:value="${user.cardName}" class="form-control" placeholder="" required>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>
