<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.w3.org/1999/xhtml">
<link rel="stylesheet"
	  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	  crossorigin="anonymous">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
body {
  background-image: url("../assets/images/intro.jpg");
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>

<body>



<p>
	<center>
		<h2>Hello, <span sec:authentication="principal.username">Udefined</span>!</h2>
	</center>
</p>

	<table class="table table-bordered table-striped table-sm" >
		<thead class="thead-dark" align=center>
			<tr>
				<th scope="col">Id</th>
				<th scope="col"><a class="p-2" th:href="@{'/users'+'?fieldName=cardName'}">Card Name</a></th>
				<th scope="col">Balance</th>
				<th scope="col">Valid</th>
				<th scope="col">Lock</th>
				<th scope="col" >Operation</th>
			</tr>
		</thead>

		<tr th:each="user : ${users}" align=center>

			<td th:text="${user.id}"></td>
			<td th:text="${user.cardName}"></td>
			<td th:text="${user.balance}"></td>
			<td th:text="${user.valid}"></td>
			<td th:text="${user.lock}"></td>

			<td>

				<form method="POST" enctype="multipart/form-data" th:action="@{/users/{uid}/img(uid=${user.id})}">
					<table>
						<tr>
								<a th:href="@{/editOne/{id}(id=${user.id})}" class="btn btn-primary" > Edit One  </a>
								<a>    </a>
								<a th:href="@{/lock/{id}(id=${user.id})}" class="btn btn-warning"  >Lock card </a>
								<a>    </a>
								<a th:href="@{/unlock/{id}(id=${user.id})}" class="btn btn-info"  >Unlock card </a>
								<a>    </a>
								<a th:href="@{/replenishment/{id}(id=${user.id})}" class="btn btn-success" > Replenishment  </a>
								<a>    </a>
								<a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')" >Delete card </a>
								<a>   </a>
							    <a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-secondary" sec:authorize="hasRole('ROLE_ADMIN')" >Edit user </a>

						</tr>
					</table>

				</form>
			</td>
		</tr>

</table>


<form th:action="@{/logout}" method="post">
	<input type="submit" class="btn btn-danger" value="Sign Out" />

</form>
	<a class="btn btn-primary" href="/addCard"> Add new card  </a>

</body>
</html>
